.aprensentacao{
    text-decoration:underline;
}

body{
    text-align: justify;
}



.topo{
    height: 200px;  
    
}

.stylemain{
    box-shadow: #808080 0px 5px 100px -20px;
    border-radius: 1em;
}

.logo {
    width: 50px;
}

.img_principal{
    width: 100%;
}

.resumo{
text-indent: 2em;
}

.sectionProject{
    box-shadow: #808080 0px 5px 100px -20px;
    border-radius: 1em;
}

.iconProjeto{
    font-size: 30px;
    color: black;
}

a{
    color: black;
    
}

a:hover{
    color: #808080;
    text-decoration: none;
}


/* Medium devices (tablets, 768px and up) - Allysson */
@media (min-width: 768px) and (max-width: 991.98px) {
    .aprensentacao{
        font-size: 35px;
    }
  }
  
  /* Large devices (desktops, 992px and up) - Allysson*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  } 
  
  /* Extra large devices (large desktops, 1200px and up) - Allysson*/
  @media (min-width: 1200px) {
    .aprensentacao{
        font-size: 50px;
    }

    article, aside, p, div{
        font-size: x-large;
    }
  }



