body{
    background-image: url(../images/background_mobile.png);
}

.topo{
    background-image: url(../images/background_mobile_black.png);
    color: white;
    height: 250px;  
    
}

.stylemain{
    box-shadow: #808080 0px 5px 100px -20px;
    border-radius: 1em;
}

.logo {
    width: 50px;
}

.img_principal{
    width: 100%;
}

.sectionProject{
    box-shadow: #808080 0px 5px 100px -20px;
    border-radius: 1em;
}

.iconProjeto{
    font-size: 30px;
    color: black;
}

a{
    color: black;
    
}

a:hover{
    color: #808080;
    text-decoration: none;
}




