<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Oi, meu nome é Állysson</title>
    </head>
    <body>

        <header id="topo">
            <nav>
                <a href="index.html#topo">
                    <img src="/images/logo.png">
                </a>
                <a href="">Experiências</a>
                <a href="">Projetos</a>
                <a href="https://github.com/Allysson1">GitHub</a>
                <a href="https://www.linkedin.com/in/%C3%A1llysson-ernandes-6912451a5/">LinkedIn</a>
            </nav>

            <section>
                <h1>
                    Bem Vindo ao meu Portfólio!
                </h1>
            </section>
        </header>
        
        <main>
            <h2>Apresentação</h2>
        
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec eleifend dui. Mauris pulvinar dapibus diam. Nunc aliquet eleifend urna, vel lobortis ante vehicula sed. Nulla suscipit scelerisque eros, mattis tempor mauris laoreet eu. Suspendisse gravida leo vel massa tristique viverra. Ut ut metus dapibus, auctor tortor nec, aliquam eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
Phasellus vitae sem vitae ante venenatis iaculis. Nulla facilisi. Donec fermentum feugiat felis, id auctor est placerat vitae. Donec id neque et odio aliquam suscipit et vitae quam. Aliquam ac suscipit elit. Morbi nulla nunc, rhoncus vel lectus vitae, dictum laoreet orci. Suspendisse potenti. Curabitur eleifend eget libero iaculis vehicula. Morbi in ex lorem. Donec eleifend vestibulum mauris semper mattis.
Pellentesque sollicitudneque non tempus dapibus.
            </p>

        </main>

        
    </body>
</html>